<% provide(:title, "About") %>


<h1> About </h1>
<p>
	This website's aim is to interogate the inequality of development amoung nations around the world, and see the effect it has on their use of renewable energy. This inequality should be important to everybody as it directly effects the world of tomorrow.
</p>
<p> 
	In the end, my goal is to point out some correlation between development, location, and renewable energy used per nation in order to make finding a simpler and more effective solution possible.
</p>
