<% provide(:title, "Bibliography")%>
<div class="center jumbotron">	
	<h1> Bibliography</h1>
	<div class="bibliography">
		<h1>Academic Resources</h1>
		
		<h2>CIA World Factbook</h2>
		<p>Central Intelligence Agency. "Botswana." cia.gov. Central Intelligence Agency, n.d. Web. 17 Mar. 2011.</p>
		<p>This is one of the main sources for the data used to graph all of the different  </p>
	</div>
</div>