<% provide(:title, "Bibliography")%>
<div class="center jumbotron">
	<h1> Bibliography</h1>
	<div class="bibliography">
		<h1>Academic Resources</h1>
		<div class="source">
			<h2><a href= "https://datahub.io/dataset/cia-world-factbook"> CIA World Factbook </a></h2>
			<p>Central Intelligence Agency. "Botswana." cia.gov. Central Intelligence Agency, n.d. Web. 17 Mar. 2011.</p>
			<p>This is the main source I used when gathering data points for each of the countries for statistics such as literacy rate, gdp, IMR, and more. This source is being used purely for its statistics that were gathered in surveys conducted by the government. I chose this specific source because of the api, or application programmer interface, it offers. This api allows me to very easily grab data from this site with very little problem. Another strength of this source is that it is updated quite often making it very easy for me to update this project to properly represent the latest statistics gathered. This is the source for the data you will see when you search for a country,  and also for the data used to chart trends that will be found on the home page.</p>
		</div>

		<div class="source">
			<h2><a href = "http://www.sciencemag.org/content/302/5650/1528">Energy Resources and Global Development</a></h2>
			<p>Chow, Jeffery, Raymond J. Kopp, and Paul R. Potney. "Energy Resources and Global Development." Diss. 2003. Abstract. Science Mag. N.p., n.d. Web. 01 Dec. 2015.</p>
			<p>This source was going to serve as the basis for my conclusions page. The conclusions page will basically be the page that I do my analysis of the data once its all readily available for me to view. I was going to use this resource specifically for the professional opinions it offers on the subject, however, I could not get the library to approve opening the source to me, so I will actually not even have access to this paper in its full form. Even though I don't have access to the whole paper, I still plan on using this source as the basis for some of the things I touch on in the conclusions I draw.</p>
		</div>
		
		<div class="source">
			<h2><a href="http://www.cabdirect.org/abstracts/19971811003.html;jsessionid=F26796D761FD6C99AB896EE092AEB037">Renewable Energy Technologies in Aftrica</a></h2>
			<p>Karekezi, S., and T. Ranja. Renewable Energy Technologies in Africa. N.p.: n.p., n.d. Cabdirect. Web. 01 Dec. 2015.</p>
			<p>This source, again is going to be crucial on the conclusion page which will be my actual analysis of all the data. Essentially this book goes into large amounts of detail about development in Africa and specifically development of their renewable energy technology, which are both of the traits I'm interrogating with this project. I chose this source over others because I was able to get access to this online resource. Many of the other resources I was able to find online pertaining to the development of LDCs. specifically concerning the development of their renewable energy technology were locked behind pay walls.</p>
		</div>
		<div class="source">
			<h2><a href"http://www.nrcan.gc.ca/energy/renewable-electricity/7295">Renewable Energy in Canada</a></h2>
			<p>"About Renewable Energy." About Renewable Energy. N.p., n.d. Web. 01 Dec. 2015.</p>
			<p>This Resource goes into great detail about the use of renewable energy in Canada. This article does a great job modeling the progress being made over time in Canada's development of a clean energy initiative through graphs and other data visualizations. This source, like many others, will be used in the conclusions section of my project as it will help me analyze the data with a greater understanding of the clean energy development in a developed country rather than that of an undeveloped country. I thought Canada would be a great choice for a developed country to analyze as it neighbors the us, and it is also a front runner in the development of sustainable energy.</p>
		</div>
		<h1>Popular Resources</h2>
		<div class="source">
			<h2><a href="https://en.wikipedia.org/wiki/List_of_countries_by_electricity_production_from_renewable_sources">Wikipedia: Energy usage from all countries</a></h2>
			<p>List of Countries by Electricity Production from Renewable Sources."Wikipedia. Wikimedia Foundation. Web. 9 Nov. 2015.</p>
			<p>This source is a compilation of a lot of various data points. Because I am doing a more analytical approach to this project, I am only using this source because it is one location. The actual data that is charted on this site is credited to the following.</p>
			<div class="container">
				<div class = "col-md-6">
					<ul>
						<li><a href= "http://paper.people.com.cn/zgnyb/html/2014-01/27/content_1384756.htm">A magazine from China (Popular)</a> </li>
						<li><a href"http://c1cleantechnicacom.wpengine.netdna-cdn.com/files/2014/04/Mathews-China-figure-2.jpg">A chart of information gathered by an individuals research in China (popular)</a></li>
					</ul>
				</div>
				<div class = "col-md-6">
					<ul>
						<li><a href"http://www.eia.gov/electricity/monthly/epm_table_grapher.cfm?t=epmt_1_01_a">The Energy Information Administration (academic)</a></li>
						<li><a href"http://ec.europa.eu/eurostat/web/energy/data/database">A European database of all of the energy information</a></li>
						<li><a href="http://www.sciencealert.com/costa-rica-powered-with-100-renewable-energy-for-75-days">An article about Costa Rico's clean energy initiative (popular)</a></li>
					</ul>
				</div>
			</div>
			<p>This wikipedia article made it very easy to gather the data for the various types of energy production in each country. Without this source, I would not be able to show any data dealing with energy production. This data was gathered from a variety of other sources all of which are reliable. I am citing this third party source because it not only cites all of the sources (which I linked above), but also because it is the source from which a script I wrote gathered all of it's data.</p>
		</div>
	</div>
</div>