<% provide(:title, "Future Study") %>

<div class="center jumbotron">
	<h1> Future Study </h1>
	<p>I believe that the information I have displayed on this site is key to the future of our World's well-being. As you can see by looking at the information on the <%= link_to("analysis page", analysis_path)%>, our world runs on finite amounts of energy. This energy is not only depletable, it is also bad for our environment. For those of you who are not aware, one single regulated coal plant can be responsible for <%=link_to("emmiting tons of pollutants", "http://www.ucsusa.org/clean_energy/coalvswind/c02c.html#.VmugbI0rJoA")%> such as CO2, SO2, NOx's, and even mercury. These pollutants are not only bad for the health of us as individuals, but they are slowly destroying the world around us.</p>
	<p>I believe the next step for research is to see if we can use the trends shown in this study to somehow make the use of renewable energy more accessible for developing nations, and to see what kind of incentivization it requires in order to encourage developed countries to continue using these renewable sources.</p>
</div>