<div class ="center jumbotron">
	<h1> Home </h1>
	
	<p>
		This is a project I am doing as a final for my English 1101 class. In this website, I am attempting to analyze the inequality of development accross every country in the world, and use the data to try to find some sort of correlation with their use of renewable energy resources.
	</p>
	<p>
		Before venturing deeper into the information, please note that I am NOT the owner of the information displayed. The information displayed was scraped off of <%=link_to "various websites", bibliography_path%> which gathered their data from many reliable sources. With this project, I am attempting to visualize the data in order to make it possible to find trends in renewable energy usage. I believe this is an important project as it makes this information very understandable and makes further research possible.
	</p>
</div>