<div class ="center jumbotron">
	<h1> Home </h1>
	
	<p>
		Here is where I want a variety of graphs showing different types of development and their correspondance with reusable energy being used by each country.
	</p>
</div>