<div class ="center jumbotron">
	<h1> Home </h1>
	
	<h2>A Brief Introduction</h2>
	<p>This is a website I am creating as part of an English project. Though this may seem odd for an English assignment, given that our task was to analyze an inequality in the world, I think this is a perfect answer. My focus is to look at the inequality of development in the world, but to take it a step further and analyze the effect it has on the use of renewable energy sources.</p>
	<h2>Why This Topic?</h2>
	<p>I have always been a very environmentally conscious person, but I have never really felt that I would never be capable of contributing to the movement to change the way we treat our planet. I knew I wanted to do an analysis of renewable energy across all countries as soon as I learned about this assignment, but upon doing my initial research, I found there were very few tools out there to help analyze correlation between a country's development and how environmentally conscious they were. With that lack of a tool, I saw a way I could infact contribute to the movement: Providing information and making my own personal analysis in order to encourage other's to search for a solution.</p>
	<h2>Research Question</h2>
	<p>How does the level of development of a country affect it's impact on the environment, specifically through their use of renewable energy?</p>
	<h2>Why a Website?</h2>
	<p>Initially, I was actually planning on doing a very lengthy paper in the form of a statistical analysis, but after a suggestion from my instructor, I decided to create this site. I decided a website would be far more appropriate as a medium for this project given my primary goal is to make this data all as accessible as possible. I believe that in this current state, looking at any given country and how they stand on development and on thier use of renewable energy.</p>
	<h2>Disclaimer</h2>
	<p>
		Before venturing deeper into the information, please note that I am NOT the owner of the information displayed. The information displayed was scraped off of <%=link_to "various websites", bibliography_path%> which gathered their data from many reliable sources. With this project, I am attempting to visualize the data in order to make it possible to find trends in renewable energy usage. I believe this is an important project as it makes this information very understandable and makes <%= link_to "further research", futurestudy_path%> possible.
	</p>
</div>