@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 60px;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center {
	text-align: center;
  h1{
    margin-bottom: 10px;
  }
}


h1, h2, h3, h4, h5, h6{
	line-height: 1;
}
h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 3px;
	text-align: center;
	font-weight: normal;
	color: #777;
}
p{
	font-size: 1.1em;
	line-height: 1.7em;
}
ul {
list-style-position: inside;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #1E90FF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/*Biblioraphy styling */
.bibliography{
  h1{
    text-decoration: underline;
    font-size: 1.7em;
  }
  p{
    font-size: 1.1em;
  }
}

.source{
  border-top: 2px solid #e2e2e2;
  border-left: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 2em;
  ul{
    list-style-position: inside;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*countries styling*/

.countries{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }

}
.energy-stat{
  margin-top: 45px;
  h2{
    font-size: 1.7em;
    margin-bottom: 15px;
  }
}

.jumbotron.index{
  background-image:url("http://luuly1979.files.wordpress.com/2011/03/world-map-background-390622.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
  padding-top: 25px;
  color: #000;
  }
}
