<footer class="footer">
	<small>
		This is a project of a Georgia State student in his 
		<a href= "https://busserfall2015.wordpress.com/author/cristine26rhiannon/">English 1101 class</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %> </li>
			<li><%= link_to "Citation", bibliography_path%></li>
		</ul>
	</nav>
</footer>